<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>
    <add name="ManagmentStore" connectionString="data source=localhost;  user id=.; Integrated Security = true; MultipleActiveResultSets=True; initial catalog=ManagmentStore; App=ManagmentStore;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>

  <system.serviceModel>

    <services>
      <service name="ManagementStore_REST.Security.SecurityRest" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="ManagementStore_REST.Security.ISecurityRest" behaviorConfiguration="restEndPointBehavior">
        </endpoint>
      </service>
      <service name="ManagementStore_REST.Store.StoreRest" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="ManagementStore_REST.Store.IStoreRest" behaviorConfiguration="restEndPointBehavior">
        </endpoint>
      </service>
    </services>


    <behaviors>

      <endpointBehaviors>
        <behavior name="restEndPointBehavior">
          <webHttp helpEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="false" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>