<div class="panel panel-default no-margin">
    <div class="panel-heading" style="padding: 10px">
        <strong><span class="glyphicon glyphicon-search"></span> Search</strong>
    </div>
    <div class="panel-body" style="padding: 10px">
        <form class="form-inline" role="form" style="padding:0px">
            <div class="form-group col-md-4">
                <p class="input-group col-md-12">
                    <input type="text" data-ng-model="search" class="form-control" />
                </p>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default no-margin">
    <div class="panel-heading" style="padding: 10px">
        <strong><span class="glyphicon glyphicon-th"></span> Products</strong> <!--<button class="btn btn-info pull-right" style="margin-top:-7px" data-ng-click="selectProduct()">Add Product</button>-->
    </div>
    <div class="panel-body" style="padding: 10px;">
        <div class="panel-body" style="padding: 10px">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <!--<th>ExpirationDate</th>-->
                        <th>TVA</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>CurrencyProduct</th>
                        <th>Producer</th>
                        <th>Type</th>
                        <th>Discount</th>
                        <th>BarCode</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="product in products | filter:search">
                        <td>{{product.Id}}</td>
                        <td>{{product.Name}}</td>
                        <td>{{product.Amount.Total}}</td>
                        <!--<td>{{product.ExpirationDate.Date | date: yyyy-MM-dd}}</td>-->
                        <td>{{product.TVA.Percent}}</td>
                        <td>{{product.Unit.Name}}</td>
                        <td>{{product.Price.CrudPrice}}</td>
                        <td>{{product.CurrencyProduct.Name}}</td>
                        <td>{{product.Producer.Name}}</td>
                        <td>{{product.ProductType.Name}}</td>
                        <td>{{product.Discount.Percent}}</td>
                        <td>{{product.BarCode.NumberCode}}</td>
                        <td><i style="cursor:pointer" class="fa fa-trash fa-2x color-info" data-ng-click="removeProduct(product)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
